
/*=====VARIABLES CSS======*/
:root{

/*======COLORS======*/
--btn-light: #38a0d8;
--btn-dark: #7d69f1;
--primary-color: #026eed;
--secondary-color: #4792e2;

/*=====Font and Typography=========*/
  --App-font: 'Lato',
    sans-serif;
  --T1-font-size: 79PX;
  --T2-font-size: 19px;
  --T3-font-size: 15px;
  --T4-font-size: 14px;
  --T5-font-size: 10px;

/*=======Font weight========*/
--font-bold: 700;
--font-regular: 500;
--font-light: 300;
}
@media screen and (min-width: 968px) {
  :root {
    --App-font: 'Lato',
      sans-serif;
    --T1-font-size: 95PX;
    --T2-font-size: 23px;
    --T3-font-size: 18px;
    --T4-font-size: 16px;
    --T5-font-size: 12px;
  }
}

.loader{
background: var(--btn-light);
position: fixed;
width: 100%;
height: 100vh; 
z-index: 100;
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
align-items: center;
color: var(--btn-light);
gap: 1.2rem;
}

.loading-cloud{
  width: 70px;
  height: 70px;
}

.title-loader{
  color:rgb(247, 244, 244) ;
}

.loading-icons{
background: rgb(247, 244, 244);
width: 355px;
height: 28px;
border-radius: 10px;
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 3px 4px 4.85px 0px rgba(0, 0, 0, 0.25);
font-size: 20px;
}


.App{
  width: 100%;
  height: 100vh;
  background: radial-gradient(#d5f3ff 0%, #51b4e8 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 4rem;
  gap: 6.5rem;
  font-family: var(--App-font);
}

@media screen and (min-width: 390px) {
  .App {
    width: 100%;
    height: 100vh;
    background: radial-gradient(#d5f3ff 0%, #51b4e8 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 2.5rem 0 2.5rem 0;
    gap: 5rem;
    font-family: var(--App-font);
  }
}

h2{
  font-size: var(--T1-font-size);
  font-weight: var(--font-light);
  color: var(--primary-color);
}

h2, h3, p{
  color: var(--primary-color);
}

p{
  font-size: var(--T4-font-size);
  font-weight: var(--font-bold);
  color: var(--secondary-color);
}

h3 {
  font-size: var(--T2-font-size);
  font-weight: var(--font-bold);
}

button{
  width: 178px;
  height: 38px;
  background: var(--btn-light);
  border-radius: 10px;
  border: none;
  box-shadow: 3px 4px 4.85px 0px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: var(--T3-font-size);
  font-weight: var(--font-bold);
  color: rgb(245, 243, 243);
}

.icon-weather{
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  width: 140px;
  height: 140px;
  /* animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

/* @keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
} */

@media screen and (min-width: 968px) {
  .icon-weather {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    width: 160px;
    height: 160px;
  }

  .loading-icons {
    background: rgb(247, 244, 244);
    width: 400px;
    height: 28px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 4px 4.85px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
  }

  .loading-cloud {
    width: 90px;
    height: 90px;
  }

  .title-loader {
    color: rgb(247, 244, 244);
    font-size: var(--T2-font-size);
  }

}