

.weather-card {
  display: flex;
  background: linear-gradient(#e5f2ff 0%, #d5f3ff 97.4%);
  box-shadow: 3px 4px 4.85px 0px rgba(0, 0, 0, 0.25);
  width: 355px;
  height: 280px;
  padding: 1rem;
  justify-content: space-between;
  clip-path: polygon(0 0, 0 200%, 500% 100%);
  border-radius: 2rem;
  border-top-right-radius: 68rem 15rem;
  border-top-left-radius: 8rem 5rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  position: relative;
}

@media screen and (min-width: 968px) {
  .weather-card {
    display: flex;
    background: linear-gradient(#e5f2ff 0%, #d5f3ff 97.4%);
    box-shadow: 3px 4px 4.85px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 300px;
    padding: 1rem;
    justify-content: space-between;
    clip-path: polygon(0 0, 0 200%, 500% 100%);
    border-radius: 2rem;
    border-top-right-radius: 68rem 15rem;
    border-top-left-radius: 8rem 5rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    position: relative;
  }

}

.info-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0.6rem;
  padding: 1rem;
}

.info-card-dos{
  position: absolute;
  right: 20px;
  bottom: 30px;

}

.input {
  width: 355px;
  height: 40px;
  position: relative;
  border: none;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(56, 160, 216, 0.9332107843137255) 1%, rgba(56, 160, 216, 0.18531162464985995) 98%, rgba(229, 240, 240, 1) 99%);
  color: #fff;
  font-size: var(--T4-font-size);
  font-weight: var(--font-light);
  color: rgb(245, 243, 243);
}

@media screen and (min-width: 968px) {
  .input {
    width: 400px;
  }

}


.icon{
  position: absolute;
  z-index: 10;
  font-size: 20px;
  display: flex;
  padding: 10px 0 0 10px;
  color: #fff;
}

.p-container{
  position:relative;
}

